<div class="container">
  <p
    [ngStyle]="{
      'font-family': fontInput.value,
      'font-size': sizeInput.value + 'px',
      color: colorInput.value
    }"
  >
    Text
  </p>
  <div class="row">
    <div class="col-4">
      <input
        #colorInput
        type="color"
        class="form-control"
        [(ngModel)]="colorInput.value"
      />
    </div>
    <div class="col-4">
      <input
        #sizeInput
        type="number"
        class="form-control"
        [defaultValue]="15"
        [(ngModel)]="sizeInput.value"
      />
    </div>
    <div class="col-4">
      <select #fontInput id="fontSelect" class="form-control"
      [(ngModel)]="fontInput.value">
        <option *ngFor="let font of fontOptions" [value]="font">
          {{ font }}
        </option>
      </select>
    </div>
  </div>
</div>
