<div *ngIf="(products$ |async) == null" class="container">
  ...loading
</div>
<div *ngIf="(products$ |async) != null" class="container">
  <button class="btn btn-danger" (click)="showMore()">Load More</button>

  <div class="alert alert-info">
    Nombre de produits: {{ (products$ |async)?.length }}
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let product of products$ | async">
      <app-item
      [title]="product.title"
      [path]="product.thumbnail"
      [height]="150"
      [fontSize]="20"
    >
    </app-item>
    </div>
  </div>
</div>
