<div *ngIf="products$ | async as products; else loading">
<div class="container">
  
  <div class="alert alert-info">
    Nombre de produits: {{ products.length }}
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let product of products">
      <app-item
      [title]="product.title"
      [path]="product.thumbnail"
      [height]="150"
      [fontSize]="20"
    >
    </app-item>
    </div>
    <button class="btn btn-primary" [disabled]="buttonDisabled" (click)="showMore()">Load More</button>

  </div>
</div>
</div>
<ng-template #loading>Loading...</ng-template>
