<app-search />
<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}<br />
      Nombre de cvs sélectionnés: {{ (embauches$ | async)?.length ?? 0 }}
    </div>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: cvs == juniors }"
              (click)="showJuniors()"
              >Juniors</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: cvs == seniors }"
              (click)="showSeniors()"
              >Seniors</a
            >
          </li>
        </ul>
      </div>
      <app-list [cvs]="cvs" [onItemClick]="onCvSelect"></app-list>
    </div>
  </div>
  <div class="col">
    <app-card></app-card>
  </div>
</div>
<div class="row pt-8">
  <app-embauches [embauches]="(embauches$ | async) ?? []" />
</div>
